@import '../gui-variables.scss';

.props-toolbar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease-out;

  &.closed {
    transform: translate($toolbarDepth, -50%);
  }
}
