@import '../gui-variables.scss';

.game-button {
  width: $buttonSize;
  height: $buttonSize;
  background-color: $buttonBackgroundColor;

  display: flex;
  justify-content: center;
  align-items: center;

  &.help {
    color: $buttonTextColor;
    font-weight: bolder;
    font-size: x-large;
  }
}
