$toolbarDepth: 50px;
$dialogDepth: 100px;

$buttonSize: 50px;
$buttonBackgroundColor: gray;
$buttonTextColor: white;

$drawerWidth: 200px;

.icon {
  width: 30px;
  height: 30px;
}

.ui-button {
  user-select: none;
  width: $buttonSize;
  height: $buttonSize;
  background-color: $buttonBackgroundColor;
  color: $buttonTextColor;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

// The drawer parent contains the slider div
.drawer-parent {
  position: relative;
  display: flex;

  &:hover {
    .drawer {
      // Open the drawer
      transform: translateX(-$drawerWidth);
    }
  }

  .drawer {
    position: absolute;
    border: 1px solid black;
    border-right: none;
    width: $drawerWidth;
    height: $buttonSize;
    transition: transform 0.2s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;

    .label {
      height: 30px;
      margin-right: 5px;
      display: flex;
      align-items: center;
    }

    .input {
      height: 30px;
      margin-right: 5px;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}
