@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

$toolbarDepth: 50px;
$dialogDepth: 100px;

$buttonSize: 50px;
$buttonBackgroundColor: gray;
$buttonHoverColor: rgb(153, 152, 152);
$buttonTextColor: white;

$drawerWidth: 200px;
$drawerBackgroundColor: rgb(153, 152, 152);
$drawerBorderColor: gray;

$iconBorderWidth: 3px;

* {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.icon {
  width: 30px;
  height: 30px;
  border-width: $iconBorderWidth;
}

.ui-button {
  user-select: none;
  width: $buttonSize;
  height: $buttonSize;
  background-color: $buttonBackgroundColor;
  color: $buttonTextColor;
  transition: background-color 0.3s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;

  &:hover {
    background-color: $buttonHoverColor;
    cursor: pointer;
  }

  #triangle {
    fill: none;
    stroke: $buttonTextColor;
    stroke-width: 6px;
    //shape-rendering: crispEdges;
  }
}

// The drawer parent contains the slider div
.drawer-parent {
  position: relative;
  display: flex;

  &:hover {
    .drawer {
      // Open the drawer
      transform: translateX(-$drawerWidth);
    }
  }

  .drawer {
    position: absolute;
    border: 1px solid $drawerBorderColor;
    border-right: none;
    background-color: $drawerBackgroundColor;
    color: $buttonTextColor;
    width: $drawerWidth;
    height: $buttonSize;
    transition: transform 0.2s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;

    .label {
      height: 30px;
      margin-right: 5px;
      display: flex;
      align-items: center;
    }

    .input {
      height: 30px;
      margin-right: 5px;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}
