$shapesToolbarWidth: 50px;

.shapes-toolbar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: $shapesToolbarWidth;
  transition: transform 0.2s ease-out;

  &.closed {
    transform: translate(-$shapesToolbarWidth, -50%);
  }
}
