@import '../gui-variables.scss';

.shapes-toolbar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease-out;

  &.closed {
    transform: translate(-$toolbarDepth, -50%);
  }

  .beater {
    border-radius: 50%;
    border: solid $buttonTextColor;
  }

  .triangle {
    margin-bottom: 5px;
  }

  .square {
    border: solid $buttonTextColor;
  }
}
