@import '../gui-variables.scss';

.dialog {
  border: 1px solid black;
  animation: openDialog 0.15s ease-out;
  top: $dialogDepth;
  vertical-align: middle;
  transform-origin: center;
  min-width: 200px;

  &.closing {
    animation: closeDialog 0.15s ease-in;
  }

  .container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header {
      flex-grow: 0;
      flex-shrink: 0;
      width: 100%;
      border-bottom: 1px solid black;
      padding-bottom: 10px;
      margin-bottom: 20px;

      display: flex;
      justify-content: space-between;
    }

    .body {
      flex: 1;
    }
  }
}

@keyframes openDialog {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes closeDialog {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
